MQTT_HOST=homeassistant.local
MQTT_PORT=1883
MQTT_USER=sdr_mqtt
MQTT_PASS=

MQTT_TOPIC_ROOT=nimbus

SDR_DEVICE_INDEX=0
SDR_FREQUENCY=162.550M
SDR_SAMPLE_RATE=32000
SDR_GAIN=28.0

SAME_SAMPLE_RATE=22050

AUDIO_STREAM_HOST=0.0.0.0
AUDIO_STREAM_PORT=8765
AUDIO_PUBLIC_HOST=

LOG_LEVEL=INFO
